{% extends "base.html" %}

{% block title %}Add word{% endblock %}

{% block  content %}

<section class="add-word">
  <h2 class="add-word__title">Add word</h2>
  <form class="form" method="POST" action="">
    {% csrf_token %}
    <label for="word1">Original</label>
    <input class="form__input" name="word1" id="word1" type="text">
    <label for="word2">Translation</label>
    <input class="form__input" name="word2" id="word2" type="text">
    <button class=form__submit" type="submit">Submit</button>
  </form>
</section>

{% endblock %}