{% extends "base.html" %}

{% block title %}My dictionary{% endblock %}

{% block content %}
<section class="about">
    <h2 class="about__title">Site description</h2>
    <p class="about__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis venenatis mi, semper finibus arcu. Ut
        lorem dui, lobortis nec vestibulum vehicula, eleifend a nunc. Sed gravida interdum felis tincidunt vulputate. Ut
        fermentum metus in volutpat fermentum. Sed pulvinar urna ac tortor aliquam, ac rutrum nunc molestie. Cras
        tristique faucibus suscipit. Nulla dictum nibh a tortor posuere blandi
    </p>
    <p class="about__text">
        Vestibulum nisi metus, tempus ac dui eget, rhoncus sodales risus. Aenean elementum massa quis nunc consequat
        tristique. Suspendisse eleifend rhoncus urna a tincidunt. Maecenas tristique tempor imperdiet. Nulla hendrerit
        libero at aliquet imperdiet. Nam luctus nibh leo, sit amet luctus ex tempor eget. Pellentesque mollis, dui eu
        condimentum auctor, ligula lectus dapibus mauris, non pulvinar mauris est a ipsum.
    </p>
</section>

{% endblock %}